@import url('https://fonts.googleapis.com/css?family=Cousine');

/* Meni za kompanije */

body {
	font-family: 'Cousine';
	background: #181818;
}

* {
	box-sizing: border-box;
}

header {
	background: #181818;
	height: 50px;
	padding-top: 5px;
}

.inner {
	max-width: 2000px;
	margin: 0 auto;
	padding: 0px 80px;
	position: relative;
}

nav > ul {
  	float: right;
}

nav > ul > li {
  	text-align: center;
	line-height: 40px;
	margin-left: 60px;
}

nav > ul li ul li {
	width: 200%;
  	text-align: left;
}

nav ul li:hover {
	position: relative;
}
nav ul li:hover > ul {
  	display: block;
	background: #181818; 
}
nav ul li:hover > a {
	color: #fff;
}
nav > ul > li > a {
	display: block;
  	width: 200%;
	text-decoration: none;
}

nav > ul > li {
  	float: left;
}

nav a {
	color: white;
}

nav > ul li ul {
  	display: none;
  	position: absolute;
  	left: 0;
	top: 100%;
  	width: 500%;
	z-index: 2000;
}

nav > ul li ul li > a {
	text-decoration: none;
}

[type="checkbox"], label {
  display: none;
}

@media screen and (max-width: 945px) {
	nav ul {
		display: none;
	}

	label {
  		display: block;
  		background: #222;
		width: 40px;
  		height: 40px;
  		cursor: pointer;
		position: absolute;
		right: 20px;
  		top: 0px;
	}
  
	label:after{
	  content:'';
	  display: block;
	  width: 30px;
	  height: 5px;
	  background: #777;
	  margin: 7px 5px;
	  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
	}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		right: 20px;
		left: 20px;
	}

	nav a {
		color: #777;
	}

	nav ul li {
		display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		float: none;
	}
  
	nav > ul li ul {
		display: block;
  		position: relative;
  		width: 100%;
		z-index: 9999;
		float: none;
	}
}

/* Slika */

@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:600);

@keyframes roll-out {}

main{
  width: 100%;
  max-height: 660px;
  overflow: hidden;
  font-family: 'Expletus Sans';
  margin-bottom: 15px;
}

.slika{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background: #2B2B2B;
  position: relative; 
  color: white;
}

.slika h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.slika p{
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.slika img{
  width: 100%;
}

.bar{
  width: 100%;
  height: 200px;
  background: #2B2B2B;
  opacity: 0.6;
  position: absolute; 
  top: 90px;
}


@media all and (max-width: 768px) {

  .slika{
    height: 50vw;
  }
  
  .bar{
    height: 26vw;
    top: 10vw;
  }
  
  .slika h1{
    font-size: 8vw;
    top: 13vw;
  }
  
  .slika p{
    font-size: 3vw;
    top: 27vw;
  } 
}

/* Tekst */

body {
  padding: 0px;
  margin: 0px;
}

.text {
  width: 100%;
  max-width: 1300px;
  font-family: 'Expletus Sans';
  font-size: 16px;
  line-height: 1.5em;
  padding: 30px;
  border-bottom: 1px solid #aaa;
  text-align: justify;
  margin: 0px auto;
  color: white;   
}

@media (max-width: 768px) {
    .text {
      width: 80%;
    }
}

/* Footer */

.footer{
	background-color: #181818;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
}

.footer .footer-motto{
	width: 100%;
	max-width: 600px;
	color:  #8d9093;
	font-family: 'Cousine';
	font-size: 11px;
	margin: 0px auto;
	margin-top: 30px;
}

.footer .footer-copyright{
	color:  #8f9296;
	font-size: 14px;
	font-family: 'Cousine';
	margin: 20px;
}

.footer .footer-links{
	list-style: none;
	font-family: 'Cousine';
	font-weight: bold;
	font-size: 14px;
	color:  #ffffff;
	padding: 18px 0 0px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-motto{
		font-size: 18px;
	}

	.footer .footer-copyright { font-size: 12px; }

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a { line-height: 1.8; }
}