/* Meni za kompanije */

body { 
  background: #2B2B2B;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}
 
.meni {display: inline-block;}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li {
  float: left;
}

ul:after {
  clear: both;
}

ul:before, ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #2B2B2B;
  text-align: center;
  letter-spacing: 1px;
}


ul.glavne {
  padding: 0px;
  margin: 0px;
}

ul.glavne li a {
  display: block;
  padding: 20px 30px;
}

ul.glavne li a:hover {  
  color: #000;
}

ul.sporedne {
  position: absolute;
  z-index: 200;
  width: 35%;
  display:none;
}

ul.sporedne li {
  float: none;
  margin: 0;
}

ul.sporedne li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
}

ul.sporedne li:last-child a {
  border-bottom: none;
}

ul.sporedne li a:hover {
  color: #000;
  background: #eeeeee;
}

ul.glavne li:hover ul {
  display: block;
  background: #fff;
}

ul.glavne li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.glavne li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) { 
  .meni { width: 100%; margin-top: 0px; }
  
  li {
    float: none;
  }
  
  ul.glavne li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.glavne li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sporedne {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sporedne li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sporedne li a:hover {
    color: #ccc;
    background: none;
  }
}

/* Forma */

html {
  font-family: 'Raleway', sans-serif;
}

form {
	color: white;
	width: 80%;
	margin: 0 auto; 
	margin-bottom: 40px;
	margin-top: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 12px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    font-family: 'Raleway', sans-serif;
    background: #dd4545;
	text-transform: uppercase;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
	color:#FFF;
	border:2px solid;
	background: #b43838;
	cursor:pointer;
}

span.psw {
    float: right;
	color: black;	
}


@media screen and (max-width: 300px) {
    span.psw {

        float: none;
    }
}

/* Footer */

.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
}

.footer .footer-motto{
	width: 100%;
	max-width: 600px;
	color:  #8d9093;
	font-family: 'Cousine';
	font-size: 10px;
	margin: 0px auto;
	margin-top: 30px;
}

.footer .footer-copyright{
	color:  #8f9296;
	font-size: 14px;
	font-family: 'Cousine';
	margin: 20px;
}

.footer .footer-links{
	list-style: none;
	font-family: 'Cousine';
	font-weight: bold;
	color:  #ffffff;
	padding: 20px 0 0px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-motto{
		font-size: 18px;
	}

	.footer .footer-copyright{
		font-size: 12px;
	}

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a{
		line-height: 1.8;
	}
}