@import url('https://fonts.googleapis.com/css?family=Cousine');

/* Meni za kompanije */

body {
	font-family: 'Cousine';
	background: #181818;
}

* {
	box-sizing: border-box;
}

header {
	background: #181818;
	height: 50px;
	padding-top: 5px;
}

.inner {
	max-width: 2000px;
	margin: 0 auto;
	padding: 0px 80px;
	position: relative;
}

nav > ul {
  	float: right;
}

nav > ul > li {
  	text-align: center;
	line-height: 40px;
	margin-left: 60px;
}

nav > ul li ul li {
	width: 200%;
  	text-align: left;
}

nav ul li:hover {
	position: relative;
}
nav ul li:hover > ul {
  	display: block;
	background: #181818;
}
nav ul li:hover > a {
	color: #fff;
}
nav > ul > li > a {
	display: block;
  	width: 200%;
	text-decoration: none;
}

nav > ul > li {
  	float: left;
}

nav a {
	color: white;
	text-decoration: none;
}

nav > ul li ul {
  	display: none;
  	position: absolute;
  	left: 0;
	top: 100%;
  	width: 500%;
	z-index: 2000;
}

nav > ul li ul li > a {
	text-decoration: none;
}

[type="checkbox"], label {
  display: none;
}

@media screen and (max-width: 945px) {
	nav ul {
		display: none;
	}

	label {
  		display: block;
  		background: #222;
		width: 40px;
  		height: 40px;
  		cursor: pointer;
		position: absolute;
		right: 20px;
  		top: 0px;
	}

	label:after{
	  content:'';
	  display: block;
	  width: 30px;
	  height: 5px;
	  background: #777;
	  margin: 7px 5px;
	  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
	}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		right: 20px;
		left: 20px;
	}

	nav a {
		color: #777;
	}

	nav ul li {
		display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		float: none;
	}

	nav > ul li ul {
		display: block;
  		position: relative;
  		width: 100%;
		z-index: 9999;
		float: none;
	}
}

/* Forma */

html {
  font-family: 'Raleway', sans-serif;
}

form {
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    font-family: 'Raleway', sans-serif;
    background: #dd4545;
	text-transform: uppercase;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
	color:#FFF;
	border:2px solid;
	background: #b43838;
	cursor:pointer;
}

a.psw {
    float: right;
	color: white;
}


@media screen and (max-width: 300px) {
    a.psw {
        float: none;
		color: white;
    }
}

/* Footer */

.footer{
	background-color: #181818;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;
}

.footer .footer-motto{
	width: 100%;
	max-width: 600px;
	color:  #8d9093;
	font-family: 'Cousine';
	font-size: 11px;
	margin: 0px auto;
	margin-top: 30px;
}

.footer .footer-copyright{
	color:  #8f9296;
	font-size: 14px;
	font-family: 'Cousine';
	margin: 20px;
}

.footer .footer-links{
	list-style: none;
	font-family: 'Cousine';
	font-weight: bold;
	font-size: 14px;
	color:  #ffffff;
	padding: 18px 0 0px;
	margin: 0;
}

.footer .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {

	.footer{
		padding: 35px;
	}

	.footer .footer-motto{
		font-size: 18px;
	}

	.footer .footer-copyright { font-size: 12px; }

	.footer .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer .footer-links a { line-height: 1.8; }
}
